{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- header -->
    <div class="card my-2">
        <div class="card-body">
            <p class="card-text">Пользователи</p>
        </div>
    </div>
    <div class="row">
        <div class="row row-cols-2 col-sm-8">
            {% for object in object_list %}
                <div class="col my-2">
                    <div class="card {% if object.is_active %} border-success{% else %} border-danger{% endif %}"
                         style="max-width: 450px; max-height: 250px">
                        <div class="card-body">
                            <h5 class="card-title {% if object.is_active %} text-success {% else %} text-danger {% endif %}">{{ object.username }}</h5>
                            <p class="mb-0"><small class="text-muted">active: {{ object.is_active }}</small></p>
                            <p class="mb-0"><small class="text-muted">Статус: {% if object.is_company %}Работодатель{% else %}Соискатель{% endif %}</small></p>
                        </div>
                        <div class="card-footer">
                            <a class="btn {% if object.is_active %} btn-outline-success {% else %} btn-outline-danger {% endif %}"
                               href="{% url 'authapp:moderator_edit' pk=object.pk %}">
                                Edit profile
                            </a>
                            {% if object.role %}
                                {% if object.is_company%}
                                    <a class="btn btn-outline-secondary" href="{% url 'employerapp:employer_detail' employer=object.role  %}">View cabinet</a>
                                {% else %}
                                    <a class="btn btn-outline-secondary" href="{% url 'applicant:applicant_cabinet' applicant_id=object.role  %}">View cabinet</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Search area -->
        <div class="col-sm-4" style="z-index: 0">
            <div class="card my-2 sticky-top">
                <p class="card-header">Параметры поиска</p>
                <form method="get">
                    <div class="m-3">
                        <label class="form-label">Имя пользователя</label>
                        <input class="form-control" type="text" name="username" placeholder="username"
                               value="{{ username_parameter }}">
                    </div>
                    <div class="m-3">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="user_status" value="-1"
                                       {% if status_selected == -1 %}checked{% endif %}>
                                search company and applicant
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="user_status" value="1"
                                       {% if status_selected == 1 %}checked{% endif %}>
                                search company
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="user_status" value="0"
                                       {% if status_selected == 0 %}checked{% endif %}>
                                search applicant
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-outline-primary m-3 align-self-center">Применить фильтр</button>
                </form>
            </div>
        </div>
    </div>



{% endblock content %}