{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- header -->
    <div class="card my-2">
        <div class="card-body">
            <p class="card-text">Пользователи</p>
        </div>
    </div>
    <div class="row">
        <div class="row row-cols-2 col-sm-8">

        </div>

        <!-- Search area -->
        <div class="col-sm-4" style="z-index: 0">
            <div class="card my-2 sticky-top">
                <p class="card-header">Параметры поиска</p>
                <form method="get">
                    <div class="m-3">
                        <label class="form-label">Имя пользователя</label>
                        <input class="form-control" type="text" name="username" placeholder="username" value="{{ username_parameter }}">
                    </div>
                    <div class="m-3">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="user_status" value="-1" {% if status_selected == -1 %}checked{% endif %}>
                                search company and applicant
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="user_status" value="1" {% if status_selected == 1 %}checked{% endif %}>
                                search company
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="user_status" value="0" {% if status_selected == 0 %}checked{% endif %}>
                                search applicant
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-outline-primary m-3 align-self-center">Применить фильтр</button>
                </form>
            </div>
        </div>
    </div>



{% endblock content %}