{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block content %}
    <div class="row justify-content-center py-5">
        <div class="col-lg-6">
          <p>
            <a href="#"><img src="{% static 'img/logo.png' %}" alt=""></a>
          </p>
          <div class="row justify-content-center align-items-center">
            <h2 class="text-xl-center" style="color: #FDAE5C">Смена пароля</h2>
          </div>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="row">
                    <div class="col-md-auto mx-auto p-0">
                        <button class="boxed-btn3 mt-3" type="submit">Сменить пароль</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock content %}