{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block content %}
    <div class="row justify-content-center py-5">
        <div class="col-lg-6">
          <p>
            <a href="#"><img src="{% static 'img/logo.png' %}" alt=""></a>
          </p>
          <h2>Смена пароля</h2>

            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="boxed-btn3 mt-3" type="submit">Сменить пароль</button>
            </form>
        </div>
    </div>
{% endblock content %}