{% extends 'base.html' %}

{% block title %} Password reset: success {% endblock title %}

{% block content %}
    <div class="container-sm d-flex flex-column py-5 my-5  border border-warning rounded-3 bg-light">
        <h3 class="align-self-center brand-orange my-3" style="color: #FDAE5C">Успешный сброс пароля</h3>
        <div class="align-self-center" style="width: 550px">
            <p class="text-muted text-lg-start">
                Пароль был отправлен на указанную Вами почту, если она указана корректно
            </p>
        </div>
        <div class="align-self-center" style="width: 550px">
            <p class="text-muted align-self-center">Ссылка будет активна в течение скольки-то там чего-то там</p>
        </div>
        <a class="btn boxed-btn3 align-self-center my-3" href="{% url 'hhapp:main_page' %}" type="submit"
           style="max-width: 250px">Вернуться на глагне</a>
    </div>
{% endblock content %}