{% extends 'base.html' %}

{% block title %} Password reset: finish {% endblock title %}

{% block content %}
    <div class="container-sm d-flex flex-column py-5 my-5 border border-warning rounded-3 bg-light">
        <h3 class="align-self-center brand-orange my-3" style="color: #FDAE5C">Пароль успешно изменен</h3>
        <div class="align-self-center" style="width: 550px">
            <p class="text-muted text-lg-start">
                Вы успешно восстановили доступ к своему личному кабинету.
            </p>
        </div>
        <div class="align-self-center" style="width: 550px">
            <p class="text-muted align-self-center">Теперь Вы снова можете перейти к редактированию своего, с чем Вас всячески и поздравляем, товарищ! </p>
        </div>
        <a class="btn boxed-btn3 align-self-center my-3" href="{% url 'authapp:login' %}" type="submit"
           style="max-width: 250px">Войти</a>
    </div>
{% endblock content %}