{% extends 'base.html' %}
{% load static %}

{% block messages %}
    <div class="bradcam_area bradcam_bg_1"></div>
{% endblock messages %}

{% block content %}

  <div class="row justify-content-center" style="margin-top: 120px; margin-bottom: 100px;">
    <div class="col-lg-6">
      <p>
        <a href="#"><img src="{% static 'img/logo.png' %}" alt=""></a>
      </p>
      <h2>Вход пользователя</h2>
      <form method="POST">

        {% csrf_token %}
        <p>
          <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150"
            class="textinput textInput form-control" required="" id="id_username" placeholder="Имя пользователя или почта">
        </p>
        <p>
          <input type="password" name="password" autocomplete="current-password" class="textinput textInput form-control"
            required="" id="id_password" placeholder="Пароль">
        </p>
        <div class="d-flex justify-content-between" >
          <p>
            <button type="submit" class="btn btn-primary btn-block">Войти в личный кабинет</button>
          </p>
          <div class="">
              <a href="#"><small>Забыли пароль?</small></a>
            </div>
        </div>
      </form>
      <p>
        <div class="row justify-content-between">
          <div class="col">
            <a href="{% url 'authapp:register'%}"><small>Регистрация</small></a>
          </div>

        </div>
      </p>
    </div>
  </div>

{% endblock content %}