{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block content %}

    <div class="d-flex flex-column align-items-center my-5 py-5">
        <div class="col-lg-6">
            <div class="row align-self-center" style="max-width: 550px">
                <h3>Вход пользователя</h3>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
            <div class="d-flex justify-content-between my-4" >
              <p>
                <button type="submit" class="btn btn-primary btn-block boxed-btn3">Войти в личный кабинет</button>
              </p>
              <div class="my-2">
                  <a href="{% url 'authapp:password_reset' %}"><small>Забыли пароль?</small></a>
                </div>
            </div>
          </form>
          <p>
            <div class="row justify-content-between">
              <div class="col">
                <a href="{% url 'authapp:register'%}">Регистрация</a>
              </div>

            </div>
          </p>
        </div>
         </div>
    </div>

{% endblock content %}