{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="row justify-content-center py-5">
        <div class="col-lg-6">
            <h2>Редактирование профиля</h2>
            <div class="card p-1">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">Дата регистрации: {{ request.user.date_joined }}</li>
                    <li class="list-group-item text-muted">Роль на сайте: {% if request.user.is_company %}Работодатель{% else %}Соискатель{% endif %}</li>
                </ul>
            </div>
            <form method="post" class="mt-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="boxed-btn3 my-3">Сохранить</button>
            </form>

        </div>
    </div>

{% endblock content %}