{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}
{% if response.status == 'ACCEPTED' %}
   <div class="alert alert-success" role="alert">Вас пригласили.</div>
{% endif %}
{% if response.status == 'REJECTED' %}
    <div class="alert alert-danger" role="alert">Отклонили ваш отклик.</div>
{% endif %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-9 col-md-9 col-lg-9 py-5">
            <h2 style="color: #FDAE5C" class="text-xl-center">Отклик</h2>
            <div class="py-3">
                <h3>Сопроводительное письмо:</h3>
                 {{ response.cover_letter }}
            </div>
            <div class="py-3">
                <h4>Вакансия:</h4>
                <a href="{% url 'employerapp:vacancy' vacancy_pk=response.vacancyheader.id %}">{{ response.vacancyheader }}</a>
             </div>
            <hr>
            <a class="boxed-btn3 my-2"  href="{% url 'serviceapp:response_update' response_id=response.id %}">Изменить отклик</a>
            <a class="boxed-btn2 m-2"  href="{% url 'serviceapp:response_delete' response_id=response.id %}">Удалить отклик</a>
         </div>
    </div>
</div>

{% endif %}
{% endblock content %}