{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}
<h1>Отклик</h1>

<h3>Сопроводительное письмо:</h3>

{{ response.cover_letter }}
<h4>Резюме:</h4>
<a href="{% url 'applicantapp:resume_by_id' resume_id=response.resume.id %}">{{ response.resume }}</a>
<hr>
{% if response.status == 'NEW' %}
 <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success" name="status" value="ACCEPTED">Пригласить</button>
        <button type="submit" class="btn btn-danger" name="status" value="REJECTED">Отклонить</button>
    </form>

{% endif %}
{% if response.status == 'ACCEPTED' %}
   <div class="btn btn-success">Вы пригласили соискателя! </div>
{% endif %}
{% if response.status == 'REJECTED' %}
    <div class="btn btn-danger">Вы отказали соискателю!</div>

{% endif %}

{% endif %}
{% endblock content %}