{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}
{% if response.status == 'ACCEPTED' %}
   <div class="alert alert-success" role="alert">Вас пригласили.</div>
{% endif %}
{% if response.status == 'REJECTED' %}
    <div class="alert alert-danger" role="alert">Отклонили ваш отклик.</div>
{% endif %}
<h1>Отклик</h1>

<h3>Сопроводительное письмо:</h3>

{{ response.cover_letter }}
<h4>Вакансия:</h4>
<a href="{% url 'employerapp:vacancy' vacancy_pk=response.vacancyheader.id %}">{{ response.vacancyheader }}</a>
<hr>


{% endif %}
{% endblock content %}