@import "bootstrap.css";

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #00D363;
}

.btn-outline-success {
    color: #00D363;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #00D363;
    border-color: #00D363;
}

.btn-check:focus + .btn-outline-success, .btn-outline-success:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 211, 99, 0.5);
}

a:link {
    text-decoration: none;
}

.boxed-btn3 {
    background: #00D363;
    color: #fff !important;
    display: inline-block;
    padding: 13px 29px 13px 29px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    /*text-transform: capitalize;*/
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.boxed-btn3:hover {
    color: #00D363 !important;
    border: 1px solid #00D363;
    background: transparent;
}

.boxed-btn3:focus {
    outline: none;
}


.profile-icon {
    background: url("../img/profile_icon.svg") no-repeat;
    width: 50px;
    height: 50px;
}

.profile-icon:hover {
    background: url("../img/profile_icon_hover.svg");
}

.index-div {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-job {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-div::after {
    content: "";
    background-image: url('/static/img/banner.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.location {
 margin-top: 0;
 margin-bottom: 1rem;
 color: #7A838B;
}

.ml-1 {
  padding-left: 15rem;
}

.wrapper {
    position: relative;
	min-height: 100%;
}

.container-md {
    padding-bottom: 90px;
}

.brand-orange {
    color: #FDAE5C;
}

.ticket-status-closed {
    background-color: #e6f7ff;
    border: 1px solid #91d5ff;
    border-radius: 6px;
    font-size: 12px;
    padding: 16px;
    color: #092433;
}

.invite-status-options {
    background-color: #daffe8;
    border: 1px solid #a0ff91;
    border-radius: 6px;
    font-size: 12px;
    padding: 16px;
    color: #092433;
}

.ticket-text {
    font-size: 16px;
}

.ticket-header {
    font-size: 14px;
}
.add-company-block {
    cursor: pointer;
    max-width: 175px;
}
.add-company-block:hover {
    background-color: #daf5e2;
}

.add-company-block:hover .add-company {
    background: url("/static/icons/clipboard-plus-fill.svg") no-repeat center;
}

.add-company {
    background: url("/static/icons/clipboard-plus.svg") no-repeat center;
    width: 25px;
    height: 25px;
}

.remove-company-block {
    cursor: pointer;
    max-width: 155px;
}

.remove-company-block:hover {
    background-color: #ffe4e7;
}

.remove-company-block:hover .remove-company {
    background: url("/static/icons/clipboard-x-fill.svg") no-repeat center;
}

.remove-company {
    background: url("/static/icons/clipboard-x.svg") no-repeat center;
    width: 25px;
    height: 25px;
}

.btn-outline-success1 {
  color: #00D363;
  border-color: #00D363;
}

.btn-outline-success1:hover {
  color: #fff;
  background-color: #00D363;
  border-color: #00D363;
}

.btn-outline-success2 {
  color: #F91842;
  border-color: #F91842;
}

.btn-outline-success2:hover {
  color: #fff;
  background-color: #F91842;
  border-color: #F91842;
}