{% load static %}

{% block messages %}

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Размещайте вакансию на JobBoard</h3>
                        <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">И находите сотрудников среди тех, кто хочет у вас работать</p>
                        <div class="sldier_btn wow fadeInCandidate" data-wow-duration="1s" data-wow-delay=".5s">
                            <a href="#" class="boxed-btn3">Разместить вакансию</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

{% endblock messages %}