{% load static %}

 <style>
        .slider_bg_1 {
          background-image: url("{% static 'img/banner.png' %}");
        }
    </style>

<div class="container-md py-3">
    <div id="sticky-header" class="main-header-area">
        <div class="container-fluid ">
            <div class="header_bottom_border">
              <div class="row align-items-center">
                <div class="main-menu  d-none d-lg-block">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">data</li>
                        <li class="list-group-item">u: {{ user }}</li>
                        <li class="list-group-item">stf: {{ user.is_staff }}</li>
                        <li class="list-group-item">c: {{ user.is_company }}</li>
                    </ul>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>


<nav class="navbar navbar-expand-lg navbar-dark header-area" style="background-color: #037CE7"><!--style="background-image: url(/static/img/banner.png)"-->
    <div class="container">
        <a class="navbar-brand" href="{% url 'hhapp:main_page' %}">
            <img src="/static/img/logoJob.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLinks"
                aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarLinks">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a
                        class="nav-link {% if request.resolver_match.view_name == 'hhapp:candidate' %}active{% endif %}"
                        href="{% url 'hhapp:candidate' %}">Resumes list</a></li>
                <li class="nav-item"><a
                        class="nav-link {% if request.resolver_match.view_name == 'hhapp:jobs' %}active{% endif %}"
                        href="{% url 'hhapp:jobs' %}">Vacancies list</a></li>
            </ul>
            {% if user.is_anonymous %}
                <div class="d-flex bd-highlight mb-auto align-items-center">
                <a class="link-light m-2 align-middle" href="{% url 'authapp:register' %}">Register</a>
                <a class="boxed-btn3 m-2" href="{% url 'authapp:login' %}">Login</a>
            {% else %}
                {% if user.is_company %}
                    <a href="{% url 'employerapp:vacancy_create' %}" class="btn btn-outline-success rounded-pill m-1">Создать вакансию</a>
                    <div class="dropdown align-items-center">
                        <button class="btn profile-icon m-1" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a href="{% url 'employerapp:employer_cabinet' employer_id=user.employer.pk %}" class="dropdown-item">Кабинет работодателя</a></li>
                            <li><a href="" class="dropdown-item disabled">Настройки</a></li>
                            <li><a href="" class="dropdown-item disabled">Информация?</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a href="{% url 'authapp:logout' %}" class="dropdown-item text-danger">Выйти</a></li>
                        </ul>
                    </div>
                {% else %}
                    {% if user.applicants %}
                        <a href="{% url 'applicant:new_resume' applicant_id=user.applicants.pk %}" class="btn btn-outline-success rounded-pill">Создать резюме</a>
                    {% else %}
                        <a href="{% url 'applicant:create' %}" class="btn btn-outline-success rounded-pill">Заполнить профиль соискателя</a>
                    {% endif %}
                    <div class="dropdown">
                        <button class="btn profile-icon m-1" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            {% if user.applicants %}
                                <li><a href="{% url 'applicant:applicant_cabinet' applicant_id=user.applicants.pk %}" class="dropdown-item">Кабинет соискателя</a></li>
                            {% else %}
                                 <li><a href="{% url 'applicant:create' %}" class="dropdown-item">Заполнить профиль  соискателя</a></li>
                            {% endif %}
                            <li><a href="" class="dropdown-item disabled">Настройки</a></li>
                            <li><a href="" class="dropdown-item disabled">Информация?</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a href="{% url 'authapp:logout' %}" class="dropdown-item text-danger">Выйти</a></li>
                        </ul>
                    </div>
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
</nav>

  <!-- slider_area_start -->
{% if request.resolver_match.view_name == 'hhapp:main_page' %}
    <div class="slider_area ">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-6">
                        <div class="slider_text col-md-5">
                            <h5 style="width: 635px;">+100500 вакансий на JobBoard</h5>
                            <h3 style="width: 635px;">Сервис №1 по поиску сотрудников в России</h3>
                            <p style="width: 635px;">Всегда самые свежие новости на рынке труда!</p>
                            {% if user.is_authenticated %}
                                {% if user.is_company %}
                                    <a href="{% url 'employerapp:vacancy_create' %}" class="boxed-btn3 m-2">Разместить вакансию</a>
                                {% else %}
                                    <a href="{% url 'applicant:new_resume' applicant_id=user.id %}" class="boxed-btn3 m-2">Создать резюме</a>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'authapp:register'%}" class="boxed-btn3 m-2">Создать резюме</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 ilstration_img">
            <p class="text-center">
                <img src="{% static 'img/pngegg.png' %}" alt="img1">
            </p>
        </div>
    </div>
{% endif %}
    <!-- slider_area_end -->

