{% load static %}

{% block messages %}

<!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                  <!--  <div class="bradcam_text">
                        <h3>Работа найдется для каждого</h3>
                        <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">Хотите получить больше приглашений на интервью, спросите нас как</p>
                        <div class="sldier_btn wow fadeInjob" data-wow-duration="1s" data-wow-delay=".5s">
                            <a href="#" class="boxed-btn3">Создать резюме</a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

{% endblock messages %}