{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div class="col-xl-10 col-md-10 col-lg-10 py-4">
        <h2 class="my-2 text-primary">{{ news.title }}</h2>

        <div class="py-2">
            <p>created: {{ news.created }} <br>
            published: {{ news.published_at }}</p>

            <div style="float: left; margin: 10px 15px 0 0; max-width: 350px;">
                <img class="figure-img rounded" src="{{ news.image }}" alt="news_image" style="max-width: 350px; border: 1px solid #a8b2b5;">
            </div>
            <br>
            content: {{ news.content }} <br><br>
            <a class="text-info" href="{{ news.url }}" target="_blank">news_source: {{ news.url }}</a>
         </div>
   </div>
{% endblock content %}