<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Соискатель</title>
  </head>
  <body>
    <br>
    <a href="{% url 'applicant_list' %}">Список соискателей</a>
    <a href="{% url 'resume_list' %}">Список резюме</a>
    <br>
    <h1>Соискатель</h1>

    <img class="avatar avatar--xl" src="{{ applicant.image }}" />
    <ul>
      <p>Имя: {{ applicant.user.first_name }}</p>
      <p>Фамилия: {{ applicant.user.last_name }}</p>
      <p>Дата рождения: {{ applicant.birthday }}</p>
      <p>Город проживания: {{ applicant.town }}</p>
      <p>Контактный телефон: {{ applicant.phone }}</p>
      <p>email: {{ applicant.user.email }} </p>
    </ul>
    <br>
    <ul>
      <li>
        <a href="{% url 'new_resume' applicant.id %}"> Создать резюме</a>
      </li>
    </ul>

    <h3>Резюме соискателя:</h3>

    {% for resume in resumes %}
      <ul>
        <li><a href="{% url 'applicant_resume' resume.id %}"> <h3>{{ resume.required_job }}</h3></a>  </li>
        <ul>
          <li>
            <a href="{% url 'update_resume' resume.id %}"> Редактировать резюме</a>
          </li>
          <li>
            <a href="{% url 'delete_resume' resume.id %}"> Удалить резюме</a>
          </li>

        </ul>
      </ul>
    {% endfor %}



  </body>
</html>
