{% extends 'base.html' %}
{% load static %}
{% block title %} Личный кабинет соискателя {% endblock title %}

{% block content %}

  {% if user.is_authenticated %}
    <p>customuser Логин: {{ user.username }}</p>
    <p>customuser ID: {{ user.pk }}</p>
    <p>applicant ID: {{ applicant.id}}</p>
  {% endif %}

    <br>

    <div class="row">
<!--      <div class="col-xl-1 col-md-1 col-lg-1">-->
<!--      </div>-->

        <h2 class="my-4">Личный кабинет соискателя</h2>

      <div class="col-xl-9 col-md-9 col-lg-9">
        <img class="avatar avatar--xl my-4" src="{{ MEDIA_URL }}{{ applicant.image }}" width="30%">
        <ul>
          <p>Имя: {{ applicant.first_name }}</p>
          <p>Фамилия: {{ applicant.last_name }}</p>
          <p>Дата рождения: {{ applicant.birthday }}</p>
          <p>Город проживания: {{ applicant.town }}</p>
          <p>Контактный телефон: {{ applicant.phone }}</p>
          <p>email: {{ applicant.user.email }} </p>
        </ul>

        <h3 class="py-4">Резюме соискателя:</h3>

        {% for resume in page_obj %}
            <ul>
              <li><h5>{{ resume.required_job }}</h5></li>
              {% if resume.is_published %}
                <p>Статус публикации: Опубликовано</p>
              {%else%}
                <p>Статус публикации: Черновик</p>
              {% endif %}
                  <a class="boxed-btn4 my-2" href="{% url 'applicant:applicant_resume' resume.id %}"> Просмотр</a>
                  <a class="boxed-btn4 m-2" href="{% url 'applicant:update_resume' resume.id %}"> Редактировать резюме</a>
                  <a class="boxed-btn4 my-2" href="{% url 'applicant:delete_resume' resume.id %}"> Удалить резюме</a>
            </ul>
        {% endfor %}
      </div>

      <div class="col-xl-3 col-md-3 col-lg-3">
        <ul>
          <li>
              <a href="{% url 'applicant:applicant_edit' applicant_id=applicant.id%}" class="boxed-btn4 m-2">Изменить профиль</a>
<!--              <a href="{% url 'applicant:new_resume' applicant.id%}" class="boxed-btn4 m-2">Создать резюме</a>-->
{#              <a href="#" class="boxed-btn4 m-2">Просмотры резюме</a>#}
{#              <a href="#" class="boxed-btn4 m-2">Отклики</a>#}
{#              <a href="#" class="boxed-btn4 m-2">Избранные вакансии</a>#}
          </li>
        </ul>
        <br>
        <br>
      </div>
    </div>


 {# Пагинация #}
    {% if page_obj.has_other_pages %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center mb-2 pb-2">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                {% endif %}

                <li class="page-item active"><a class="page-link">{{ page_obj.number }}</a></li>

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
    {# конец пагинации #}

{% endblock content %}
