{% extends 'base.html' %}

{% block messages %}
    <div class="bradcam_area bradcam_bg_1"></div>
{% endblock messages %}

{% block content %}


  <main class="formPage my-xl">
    <div class="content-box">
      <div class="formWrapper">
        <br>
        <form class="form" action="" method="POST">
          {% csrf_token %}
          <p>Вы действительно хотите удалить "{{ object }}"?</p>

          <a class="boxed-btn" href="{% url 'applicant:applicant_by_id' object.applicants.id %}">Назад</a>

          <input class="boxed-btn2" type="submit" value="Удалить" />
        </form>
      </div>
    </div>
  </main>

{% endblock %}
