{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Создание Резюме {% endblock title %}

{#{% block messages %}#}
{#{% include 'includes/job_menu.html' %}#}
{#{% endblock messages %}#}

{% block content %}

<h1> Соискатель: {{ applicant.first_name}} {{applicant.last_name }}</h1>
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}

  {{ form|crispy }}

  <a class="boxed-btn" href="{% url 'applicant:applicant_cabinet' applicant.id %}">Назад</a>
  <button type="submit" class='boxed-btn3'> Сохранить</button>

</form>
{% endblock content %}
