{% extends 'base.html' %}
{% load static %}
{% block title %}Создание Резюме {% endblock title %}

{% block messages %}
  {% include 'includes/job_menu.html' %}
{% endblock messages %}

  {% block content %}
    <br>
    <a href="{% url 'applicant_list' %}">Список соискателей</a>
    <a href="{% url 'resume_list' %}">Список резюме</a>
    <br>
    <h1>Создание резюме</h1>
    <h1> Соискатель: {{ applicant.first_name}} {{applicant.last_name }}</h1>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      {% for field in form %}

        <div class="form__field">
          <label for="formInput#text">{{ field.label }}</label>
          {{ field }}
        </div>
      {% endfor %}

      <a class="boxed-btn" href="{% url 'applicant_by_id' applicant.id %}">Назад</a>
      <button type="submit" class = 'boxed-btn3'> Сохранить</button>

    </form>
{% endblock content %}