{% extends 'base.html' %}
{% load static %}
{% block title %}Резюме{% endblock title %}



{% block content %}
    <br>
    <a href="{% url 'applicant:list' %}">Список соискателей</a>
    <a href="{% url 'applicant:resume_list' %}">Список резюме</a>
    <br>
    <h1>Резюме</h1>

    <img class="avatar avatar--xl" src="{{ resume.image.url }}" />
    <p>Имя: {{ resume.applicants.first_name }}</p>
    <p>Фамилия: {{ resume.applicants.last_name }}</p>
    <p>Дата рождения: {{ resume.applicants.birthday }}</p>
    <p>Город проживания: {{ resume.applicants.town }}</p>
    <p>Контактный телефон: {{ resume.applicants.phone }}</p>
    <p>email: {{ resume.applicants.user.email }}</p>
    <p>Навыки:</p>

    {% for skill in skills %}
      <ul>
        <li>{{ skill.name }}</li>
      </ul>
    {% endfor %}

    <p>Требуемая работа: {{ resume.required_job }}</p>
    <p>Заработная плата: {{ resume.salary }}</p>
    <p>Место последней работы: {{ resume.last_job }}</p>
    <p>Образование: {{ resume.education }}</p>
  </body>
{% endblock content %}