{% extends 'base.html' %}
{% load static %}
{% block title %}Список резюме{% endblock title %}

{% block content %}
    <ul>
        {% for item in resume_list %}
            <li>
                <a href="{{ item.get_absolute_url }}">
                    <h3>{{ item.applicants.first_name }} {{ item.applicants.last_name }}</h3>
                </a>
            </li>
            <p><em>Навыки:</em></p>
            <ul>
                {% for skill in item.skills.all|slice:"3" %}
                    <li> {{ skill.name }}</li>
                {% endfor %}
            </ul>
            <p><em>Требуемая работа:</em> {{ item.required_job }}</p>
            <p><em>Зарплата:</em> {{ item.salary }}</p>
        {% endfor %}
    </ul>
{% endblock content %}