{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container-md" style="max-width: 870px">
        <div class="d-flex flex-column mx-3 mt-3 pt-3">
            <div class="flex-row col-md-12 text-start pb-1 text-xl-center"  style="color: #FDAE5C">
                <a href="{% url 'support:tickets' %}"><strong class="h2" style="color: #FDAE5C">Служба поддержки</strong></a>
            </div>
            <hr style="width: 100%">
            <div class="d-flex p-0">
                <h5>{{ ticket_data.theme }}</h5>
            </div>
            <div class="d-flex flex-row justify-content-between">
                <div class="d-flex flex-column">
                    <div class="d-flex col-md-4 p-0 flex-row"><span class="text-muted">Категория: </span><span class="px-2 text-dark">{% if ticket_data.topic == 1 %}Registration{% elif ticket_data.topic == 2 %}Profile{% elif ticket_data.topic == 3 %}Login{% else %}Account access{% endif %}</span></div>
                    <div class="d-flex col-md-4 p-0">
                        <span class="text-muted">Статус: </span>
                        <span class="px-2 {% if ticket_data.status == 1 %}brand-orange{% elif ticket_data.status == 2 %}text-success{% else %}text-muted{% endif %}" id="ticketStatus">{% if ticket_data.status == 1 %}Активен{% elif ticket_data.status == 2 %}Решен{% else %}Закрыт{% endif %}</span>
                    </div>
                    <div class="d-flex col-md-4 p-0">
                        <span class="text-muted">Пользователь: </span>
                        <span class="px-2">#{{ ticket_data.user.username }}</span>
                    </div>
                </div>
                    {% if ticket_data.status == 1 %}
                        <div>
                            <form action="{% url 'support:status_change' pk=ticket_data.pk %}" method="post" id="closeTicketForm">
                                {% csrf_token %}
                                {{ status_form|crispy }}
                                <button class="btn btn-outline-success1 rounded-pill" type="submit" id="closeTicketSubmit">{% if user.is_staff %}Закрыть тикет{% else %}Моя проблема решена {% endif %}</button>
                            </form>
                        </div>
                    {% endif %}
            </div>
            <hr class="p-0" style="width: 100%">
        </div>
        <div class="d-flex flex-column mx-3 my-0 py-0">
            <div class="d-flex justify-content-between align-content-end">
                <div class="d-flex flex-column">
                    <span><strong>{{ ticket_data.user.username }}</strong></span>
                    <small><span class="blockquote-footer">{{ ticket_data.user.email }}</span></small>
                </div>
                <span class="text-muted"><small>{{ ticket_data.created }}</small></span>
            </div>
            <div class="pt-2"><p class="text-dark">{{ ticket_data.init_message }}</p></div>
            {% if ticket_data.attachment %}
                <span class="text-muted align-self-end">
                    Вложение к письму: <a class="text-primary align-self-end" href="{{ MEDIA_URL }}{{ ticket_data.attachment }}" target="_blank">{{ ticket_data.attachment }}</a>
                </span>
            {% else %}
                <span class="text-muted align-self-end"><small>К обращению нет приложеных файлов</small></span>
            {% endif %}
            <hr class="p-0" style="width: 100%">
        </div>
        <div id="messagesList">
            {% for message in ticket_data.messages.all %}
                {% include 'supportapp/includes/message_card.html' with message=message %}
            {% endfor %}
        </div>
        {% if ticket_data.status == 1 %}
            <div class="flex-column mx-3 my-0 py-0" id="formBlock">
                <form method="post" action="{% url 'support:create_message' %}" id="sendMessageForm">
                    {% csrf_token %}
                    {{ message_form|crispy }}
                    <button class="boxed-btn3 btn-success my-3" id="messageSubmit">Отправить</button>
                </form>
            </div>
        {% endif %}

        {% if ticket_data.status == 2 or ticket_data.status == 3 %}
            <div class="d-flex flex-column mx-3 ticket-status-closed">
                <span class="py-0 my-0">Работы по данному обращению завершены.</span>
                <span class="py-0 my-0">Если Вы хотите задать новый вопрос - пожалуйста, <a class="text-primary" href="{% url 'support:create_ticket' %}">создайте другой тикет</a></span>
            </div>
        {% endif %}

    </div>

{% endblock content %}

{% block js %}
    <script>
        $(document).ready(function () {
            $("#messageSubmit").click(function (e) {
                e.preventDefault();

                let $form = $("#sendMessageForm");
                $.ajax({
                    type: "POST",
                    url: $form.attr("action"),
                    data: $form.serialize(),
                    success: function (data) {
                        $("#messagesList").append(data.card);
                        console.log(data.card);
                    }
                });
                $("#id_message").val("");
            });
        });
        $(document).ready(function () {
           $("#closeTicketSubmit").click(function (e) {
              e.preventDefault();

              $("#formBlock").hide();
              $("#closeTicketForm").hide();

              let $form = $("#closeTicketForm");
              $.ajax({
                  type: "POST",
                  url: $form.attr("action"),
                  data: $form.serialize(),
                  success: function (data) {
                  }
              });
              let ticketStatus = $("#ticketStatus");

              if (ticketStatus.text() === "Активен") {
                  if ($("#closeTicketSubmit").text() === 'Моя проблема решена') {
                      ticketStatus.text("Решен");
                  } else {
                      ticketStatus.text("Закрыт");
                  }
              }
           });
        });
    </script>

{% endblock js %}