{% extends 'base.html' %}

{% block content %}
    <div class="container-lg text-center d-flex flex-column" style="width: 100%; max-width: 1248px">
        <div class="row m-3 py-3 align-items-center">
            <div class="col-md-4 text-start"><p><strong class="h2 text-dark">Служба поддержки</strong></p></div>
            <div class="col-md-4 ms-auto"><a class="btn btn-outline-success1 rounded-pill"
                                             href="{% url 'support:create_ticket' %}">Создать тикет</a></div>
        </div>
        <div class="d-flex row my-4 border align-self-center" style="width: 100%">
            <form method="get">
                <div class="d-flex align-items-center justify-content-center flex-wrap">
                    <div class="m-1">
                        <label class="text-muted"><small>Категория</small></label>
                        <select class="form-select form-select-sm" name="topic" id="id_status">
                            <option value="" {% if not s_topic %}selected{% endif %}>---</option>
                            <option value="1" {% if s_topic == '1' %}selected{% endif %}>Регистрация</option>
                            <option value="2" {% if s_topic == '2' %}selected{% endif %}>Профиль</option>
                            <option value="3" {% if s_topic == '3' %}selected{% endif %}>Логин</option>
                            <option value="4" {% if s_topic == '4' %}selected{% endif %}>Доступ к аккаунту</option>
                        </select>
                    </div>
                    <div class="m-1">
                        <label class=""><small>Сортировка</small></label>
                        <select class="form-select form-select-sm" name="created" id="id_date">
                            <option value="" {% if not s_created %}selected{% endif %}>---</option>
                            <option value="-" {% if s_created == '-' %}selected{% endif %}>Сначала новые</option>
                            <option value="+"{% if s_created == '+' %}selected{% endif %}>Сначала старые</option>
                        </select>
                    </div>
                    <div class="m-1">
                        <label class="text-muted"><small>Статус</small></label>
                        <select class="form-select form-select-sm" name="status" id="id_status">
                            <option value="" {% if not s_status %}selected{% endif %}>---</option>
                            <option value="1" {% if s_status == '1' %}selected{% endif %}>Активные</option>
                            <option value="2" {% if s_status == '2' %}selected{% endif %}>Решенные</option>
                            <option value="3" {% if s_status == '3' %}selected{% endif %}>Закрытые принудительно</option>
                        </select>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center flex-wrap">
                    <div class="m-3">
                        <div class="align-self-start" style="min-width: 250px">
                            <label class="form-check-label align-self-start">Тема обращения</label>
                            <input class="form-control" type="text" name="theme" placeholder="Тема" value="{{ s_theme }}">
                        </div>
                    </div>
                    <div class="m-3">
                        <div class="align-self-start" style="min-width: 250px">
                            <label class="form-check-label">Имя пользователя</label>
                            <input class="form-control" type="text" name="username" placeholder="Пользователь" value="{{ s_username }}">
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-grow-1 justify-content-center flex-wrap" style="width: inherit">
                    <button class="btn btn-outline-success1 rounded-pill mb-3 mx-3" type="submit" style="min-width: 250px">Найти</button>
                    <a href="{% url 'support:tickets' %}" class="btn btn-outline-success2 rounded-pill mb-3 mx-3" type="submit" style="min-width: 150px">Сброс</a>
                </div>
            </form>
        </div>
        <div class="row px-3 py-1 border-bottom border-secondary ticket-header">
            <div class="col-3 px-3 text-start text-muted">Тикет</div>
            <div class="col-3 align-self-center text-end text-muted">Категория</div>
            <div class="col-3 align-self-center text-start text-muted">Статус</div>
            <div class="col-3 align-self-center text-start text-muted">Создан</div>
        </div>
        <div>
            {% if tickets %}
                {% for ticket in tickets %}
                    {% include 'supportapp/includes/ticket_card.html' with ticket=ticket %}
                {% endfor %}
            {% else %}
                <div class="p-2 text-muted">У вас нет активных тикетов</div>
            {% endif %}
        </div>
    </div>
{% endblock content %}