{% extends 'base.html' %}

{% block content %}
<div class="container-lg text-center"  style="width: 100%; max-width: 1248px">
    <div class="row m-3 py-3 align-items-center">
        <div class="col-md-4 text-start"><p><strong class="h2 text-dark">Служба поддержки</strong></p></div>
        <div class="col-md-4 ms-auto"><a class="btn btn-outline-secondary rounded-pill" href="{% url 'support:create_ticket' %}">Создать тикет</a></div>
    </div>
    <div class="row my-2">
        <div class="col-md-4 border border-secondary">Тут будет фильтр</div>
    </div>
    <div class="row px-3 py-1 border-bottom border-secondary ticket-header">
        <div class="col-3 px-3 text-start text-muted">Тикет</div>
        <div class="col-3 align-self-center text-end text-muted">Категория</div>
        <div class="col-3 align-self-center text-start text-muted">Статус</div>
        <div class="col-3 align-self-center text-start text-muted">Создан</div>
    </div>
    <div class="container-lg"></div>
    {% if tickets %}
        {% for ticket in tickets %}
            {% include 'supportapp/includes/ticket_card.html' with ticket=ticket %}
        {% endfor %}
    {% else %}
        <div class="p-2 text-muted">У вас нет активных тикетов</div>
    {% endif %}
</div>
{% endblock content %}