{% extends 'base.html' %}
{% load static %}
{% block title %}Кабинет работодателя{% endblock title %}

{% block content %}
<!--  <br>-->
<!--  <a href="{% url 'employerapp:employer_list' %}">список работодателей</a> |-->
<!--  <a href="{% url 'employerapp:vacancy_list' %}">список всех вакансий</a> |-->

<!--  <br><br>-->
<!--  {% if user.is_authenticated %}-->
<!--    <p>customuser Логин: {{ user.username }}</p>-->
<!--    <p>customuser ID: {{ user.pk }}</p>-->
<!--    <p>employer ID: {{ user.employer.id }}</p>-->
<!--  {% endif %}-->
  <br><br>

  <div class="container-fluid">
    <div class="row">
<!--      <div class="col-xl-1 col-md-1 col-lg-1">-->
<!--      </div>-->
        <div class="col-xl-9 col-md-9 col-lg-9">
          <h2 style="color: #FDAE5C" class="text-xl-center">Информация об организации</h2>
           <div class="card bg-light" style="max-width: auto">
                <div class="row m-0">
                    <div class="col-md-4 p-4">
                        {% if employer_qs.cover %}
                         <div class="col-md-3 p-3">
                             <img src="{{ employer_qs.cover.url }}" alt="" class="m-2">
                         </div>
                        {% endif %}
                    </div>
                        <br>
                    <div class="col-md-8  text-justify">
                        <h3 class="py-4">{{ employer_qs.employment }}</h3>
                        <p>Зарегистрирована на сайте с: {{ employer_qs.created|date:"Y.m.d" }}</p>
                        <p>Расположение: {{ employer_qs.town }}</p>
                        <p>Адрес организации: {{ employer_qs.address }}</p>
                        <p>Телефон: {{ employer_qs.phone }}</p>
                        <p>email: {{ employer_qs.email }}</p>
                        {% if employer_qs.website %}
                          <p>Сайт организации: <a href=""></a>{{ employer_qs.website }}</p>
                        {% endif %}
                        <br>
                        {% if employer_qs.body %}
                      </div>
                          <p>Дополнительная информация:</p>
                          {{ employer_qs.body|safe }}
                        {% endif %}
                        <br>
                        {% if employer_qs.location %}
                          <p>Адрес на карте</p>
                          {{ employer_qs.location|safe }}
                        {% endif %}
                        <br>
                        <a class="py-4 text-xl-center" href="{% url 'employerapp:employer_vacancy_list' vacancy_employer=employer_qs.pk %}">Список вакансий
                          работодателя</a>
                      </div>


    </div>
  </div>
        <div class="col-xl-3 col-md-3 col-lg-3 py-5">
        <a href="{% url 'employerapp:employer_vacancy_list' vacancy_employer=employer_qs.pk %}"
          class="btn btn-info boxed-btn4">Список вакансий
          работодателя</a>
      </div>
  <br><br>
{% endblock content %}
