{% extends 'base.html' %}
{% load static %}
{% block title %}Список всех работодателей{% endblock title %}

{% block content %}
  <br>
  <a href="{% url 'hhapp:main_page' %}">Домашняя страница</a> |
  <a href="{% url 'authapp:login' %}">Логин</a> |
  <a href="{% url 'authapp:register' %}">Регистрация</a> |
  <a href="{% url 'employerapp:employer_list' %}">список работодателей</a> |
  <a href="{% url 'employerapp:vacancy_list' %}">список всех вакансий</a> |
  <!--<a href="{% url 'employerapp:employer_create' %}">Создание карточки работодателя</a> |-->
  <!--<a href="{% url 'employerapp:vacancy_create' %}">Создание вакансии работодателя</a> |-->
  {% if user.is_authenticated %}
  {% if user.is_company %}
    <a href="{% url 'employerapp:employer_cabinet' employer_id=user.pk %}">Кабинет работодателя</a>
  {% endif %}
  {% endif %}
  <br><br>
  {% if user.is_authenticated %}
    <p>customuser Пользователь: <b>{{ user.username }}</b></p>
    <p>customuser ID: <b>{{ user.pk }}</b></p>
    <p>customuser is_company: <b>{{ user.is_company }}</b></p>
  {% endif %}

  <div class="container-fluid" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="row">
       <div class=" col-md-8 col-lg-8 m-2">

          <h2>Список всех работодателей на сайте</h2>

          <ul>
            {% for item in employer_lst_qs %}
              <li>
                <a href="{{ item.get_absolute_url }}">{{ item.employment }}</a>
              </li>
            {% endfor %}
          </ul>
      </div>

      <div class="col-xl-3 col-md-3 col-lg-3 m-2">
        <div class="form_inner white-bg">
              <h3>Фильтр</h3>
              <form action="#">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="single_field">
                      <input type="text" placeholder="Наименование организации">
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="single_field">
                      <select class="wide">
                        <option data-display="Location">Организация</option>
                        <option value="1">Rangpur</option>
                        <option value="2">Dhaka </option>
                      </select>
                    </div>
                  </div>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
{% endblock content %}