<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список работодателей</title>
</head>
<body>
<br>
<a href="{% url 'hhapp:main_page' %}">Домашняя страница</a> |
<a href="{% url 'authapp:login' %}">Логин</a> |
<a href="{% url 'authapp:register' %}">Регистрация</a> |
<a href="{% url 'employerapp:employer_list' %}">список работодателей</a> |
<a href="{% url 'employerapp:vacancy_list' %}">список всех вакансий</a> |
<a href="{% url 'employerapp:employer_create' %}">Создание карточки работодателя</a> |
<a href="{% url 'employerapp:vacancy_create' %}">Создание вакансии работодателя</a> |
<br>
<h1>Список всех работодателей на сайте</h1>
<ul>
    {% for item in employer_lst_qs %}
    <li>
        <a href="{{ item.get_absolute_url }}">{{ item.employment }}</a>
    </li>
    {% endfor %}
</ul>
</body>
</html>
