<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Список работодателей</title>-->
<!--</head>-->
<!--<body>-->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
{% if user.is_authenticated %}
<p>Вы вошли под пользователем: {{ user.username }}</p>
{% endif %}
<br>
<a href="{% url 'hhapp:main_page' %}">Домашняя страница</a> |
<a href="{% url 'authapp:login' %}">Логин</a> |
<a href="{% url 'authapp:register' %}">Регистрация</a> |
<a href="{% url 'employerapp:employer_list' %}">список работодателей</a> |
<a href="{% url 'employerapp:vacancy_list' %}">список всех вакансий</a> |
<a href="{% url 'employerapp:employer_create' %}">Создание карточки работодателя</a> |
<a href="{% url 'employerapp:vacancy_create' %}">Создание вакансии работодателя</a> |
<br>
<h1>Список всех работодателей на сайте</h1>
<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-1 col-md-1 col-lg-1">
        </div>

        <div class="col-xl-8 col-md-8 col-lg-8">
            <ul>
                {% for item in employer_lst_qs %}
                <li>
                    <a href="{{ item.get_absolute_url }}">{{ item.employment }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-xl-3 col-md-3 col-lg-3">
            <p>Боковая колонка для рекламы или фильтров</p>
        </div>
    </div>
</div>

<br><br>
{% endblock content %}
<!--</body>-->
<!--</html>-->
