{% extends 'base.html' %}
{% load static %}
{% block title %}Создание карточки работодателя{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'employerapp/css/forms.css' %}"/>
{% endblock stylesheet %}

{% block messages %}
  {% include 'includes/job_menu.html' %}
{% endblock messages %}

{% block content %}
<br><br>
{% if user.is_authenticated %}
<p>customuser Логин: {{ user.username }}</p>
<p>customuser ID: {{ user.pk }}</p>
{% endif %}
<br><br>

<h3>Создание карточки организации работодателя</h3>
<b></b>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-1 col-md-1 col-lg-1">
        </div>
        <div class="col-xl-8 col-md-8 col-lg-8">
            <form class="form_empl" action="{% url 'employerapp:employer_create' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for el in form %}
                <!--    "id_for_label" идентификатор текстовой метки  -->
                <h6><label class="form-label" for="{{ el.id_for_label }}">{{el.label}}: </label></h6>
                <p>{{ el }}</p>
                <!--  отображение ошибки заполнения данных формы  -->
                <div class="form-error">{{ el.errors }}</div>
                {% endfor %}
                {{ form.media }}
                <button type="submit">Добавить</button>
            </form>
        </div>
        <div class="col-xl-3 col-md-3 col-lg-3">
            <p>Боковая колонка</p>
        </div>
    </div>
</div>
<br>
{% endblock content %}
