{% extends 'base.html' %}
{% load static %}
{% block title %}Выбранная вакансия{% endblock title %}

{% block messages %}
  {% include 'includes/job_menu.html' %}
{% endblock messages %}

{% block content %}
<br>
<a href="{% url 'hhapp:main_page' %}">Домашняя страница</a> |
<a href="{% url 'authapp:login' %}">Логин</a> |
<a href="{% url 'authapp:register' %}">Регистрация</a> |
<a href="{% url 'employerapp:employer_list' %}">список работодателей</a> |
<a href="{% url 'employerapp:vacancy_list' %}">список всех вакансий</a> |
<!--<a href="{% url 'employerapp:employer_create' %}">Создание карточки работодателя</a> |-->
<!--<a href="{% url 'employerapp:vacancy_create' %}">Создание вакансии работодателя</a> |-->
{% if user.is_authenticated %}
<a href="{% url 'employerapp:employer_cabinet' employer_id=user.pk %}">Кабинет работодателя</a>
{% endif %}
<br><br>
{% if user.is_authenticated %}
<p>customuser Логин: {{ user.username }}</p>
<p>customuser ID: {{ user.pk }}</p>
{% endif %}
<br><br>
<h3>Страница выбранной вакансии</h3>
<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-1 col-md-1 col-lg-1">
        </div>
        <div class="col-xl-8 col-md-8 col-lg-8">
            <p>Организация: {{ vacancy_qs.employer_id.employment|safe }}</p>
            <p>Вакансия: {{ vacancy_qs.job_title }}</p>
            <p>Требуемый опыт работы: {{ vacancy_qs.get_experience_display }}</p>
            <p>Заработная плата: {{ vacancy_qs.salary }} руб.</p>

            <p>Тип занятости:</p>
            <ul>
                {% for el in vacancy_qs.employment_id.all %}
                <li>
                    {{ el.employment }}
                </li>
                {% endfor %}
            </ul>

            <p>Ключевые навыки:</p>
            {% for el in vacancy_qs.skills_id.all %}
            <ul>
                <li>{{ el.name }}</li>
            </ul>
            {% endfor %}

            <p>Описание вакансии: {{ vacancy_qs.body|safe }}</p>
            <br>
        </div>
        <div class="col-xl-3 col-md-3 col-lg-3">
            <p>Боковая колонка для рекламы или фильтров</p>
        </div>
    </div>
</div>
<br><br>
{% endblock content %}

