{% extends 'base.html' %}
{% load static %}
{% block title %}Список вакансий сайта{% endblock title %}
{% block messages %}
  {% include 'includes/candidate_menu.html' %}
{% endblock messages %}
{% block content %}
  <br>
  <a href="{% url 'hhapp:main_page' %}">Домашняя страница</a> |
  <a href="{% url 'authapp:login' %}">Логин</a> |
  <a href="{% url 'authapp:register' %}">Регистрация</a> |
  <a href="{% url 'employerapp:employer_list' %}">список работодателей</a> |
  <a href="{% url 'employerapp:vacancy_list' %}">список всех вакансий</a> |
  <!--<a href="{% url 'employerapp:employer_create' %}">Создание карточки работодателя</a> |-->
  <!--<a href="{% url 'employerapp:vacancy_create' %}">Создание вакансии работодателя</a> |-->
  {% if user.is_authenticated %}
  {% if user.is_company %}
    <a href="{% url 'employerapp:employer_cabinet' employer_id=user.pk %}">Кабинет работодателя</a>
  {% endif %}
  {% endif %}
  <br><br>
  {% if user.is_authenticated %}
    <p>customuser Пользователь: <b>{{ user.username }}</b></p>
    <p>customuser ID: <b>{{ user.pk }}</b></p>
    <p>customuser is_company: <b>{{ user.is_company }}</b></p>
  {% endif %}
  <br><br>

  <h3>Список всех вакансий сайта</h3>
  <br><br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-1 col-md-1 col-lg-1">
      </div>
      <div class="col-xl-8 col-md-8 col-lg-8">
        <ul>
          {% for item in all_vacancy_lst_qs %}
            <li>
              <a href="{{ item.get_absolute_url }}">{{ item.job_title }}</a>
              <p>&nbsp;&nbsp; Размещено: {{ item.created|date:"Y.m.d" }}</p>
              <p>&nbsp;&nbsp; Опыт работы: {{ item.get_experience_display }}</p>
              <p>&nbsp;&nbsp; Работодатель: {{ item.employer_id }}</p>
              <p>&nbsp;&nbsp; Город работы: {{ item.town_id }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-xl-3 col-md-3 col-lg-3">
        <p>Боковая колонка для рекламы или фильтров</p>
      </div>
    </div>
  </div>
  <br>
{% endblock content %}
