{% extends 'base.html' %}
{% load static %}
{% block title %}Выбранная вакансия{% endblock title %}


{% block content %}
<br>
<a href="{% url 'hhapp:main_page' %}">Домашняя страница</a> |
<a href="{% url 'employerapp:employer_list' %}">список работодателей</a> |
<a href="{% url 'employerapp:vacancy_list' %}">список всех вакансий</a> |

<br><br>
{% if user.is_authenticated %}
<p>customuser Логин: {{ user.username }}</p>
<p>customuser ID: {{ user.pk }}</p>
{% endif %}
<br><br>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-1 col-md-1 col-lg-1">
        </div>
        <div class="col-xl-8 col-md-8 col-lg-8">
            <h2>Страница выбранной вакансии</h2>
            <p>Организация: {{ vacancy_qs.employer_id.employment|safe }}</p>
            <p>Вакансия: {{ vacancy_qs.job_title }}</p>
            <p>Требуемый опыт работы: {{ vacancy_qs.get_experience_display }}</p>
            <p>Заработная плата: {{ vacancy_qs.salary }} руб.</p>

            <p>Тип занятости:</p>
            <ul>
                {% for el in vacancy_qs.employment_id.all %}
                <li>
                    {{ el.employment }}
                </li>
                {% endfor %}
            </ul>

            <p>Ключевые навыки:</p>
            {% for el in vacancy_qs.skills_id.all %}
            <ul>
                <li>{{ el.name }}</li>
            </ul>
            {% endfor %}

            <p>Описание вакансии: {{ vacancy_qs.body|safe }}</p>
            <br>
            {% if user.applicants %}
            <a href="{% url 'serviceapp:response' vacancyheader=vacancy_qs.id %}" class="btn btn-success" role="button"
               aria-disabled="true">Откликнутся</a>
            {% endif %}
        </div>
        <div class="col-xl-3 col-md-3 col-lg-3">
            <p>Боковая колонка для рекламы или фильтров</p>
            {% if user.is_company %}
            <a href="{% url 'employerapp:vacancy_update'  vacancy_id=vacancy_qs.pk %}" class="btn btn-info">Редактировать
                вакансию</a>
            <br><br>
            <a href="{% url 'employerapp:vacancy_delete'  vacancy_id=vacancy_qs.pk %}" class="btn btn-danger">Удалить
                вакансию</a>
            {% endif %}
        </div>
    </div>
</div>
<br><br>
{% endblock content %}

