{% extends 'base.html' %}
{% load static %}

{#{% block messages %}#}
{#  {% include 'includes/candidate_menu.html' %}#}
{#{% endblock messages %}#}

{% block content %}

  <!-- featured_candidates_area_start  -->
  <div class="featured_candidates_area candidate_page_padding my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="single_candidates text-center">
            <div class="thumb">
              <img src="{% static 'img/candiated1.png' %}" alt="">
            </div>
            <a href="#"><h4>Markary Jondon</h4></a>
            <p>Software Engineer</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="single_candidates text-center">
            <div class="thumb">
              <img src="{% static 'img/candiated2.png' %}" alt="">
            </div>
            <a href="#"><h4>Markary Jondon</h4></a>
            <p>Software Engineer</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="single_candidates text-center">
            <div class="thumb">
              <img src="{% static 'img/candiated3.png' %}" alt="">
            </div>
            <a href="#"><h4>Markary Jondon</h4></a>
            <p>Software Engineer</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="single_candidates text-center">
            <div class="thumb">
              <img src="{% static 'img/candiated4.png' %}" alt="">
            </div>
            <a href="#"><h4>Markary Jondon</h4></a>
            <p>Software Engineer</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">

          <div class="single_candidates text-center">
            <div class="thumb">
              <img src="{% static 'img/candiated5.png' %}" alt="">
            </div>
            <a href="#"><h4>Markary Jondon</h4></a>
            <p>Software Engineer</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="single_candidates text-center">
            <div class="thumb">
              <img src="{% static 'img/candiated6.png' %}" alt="">
            </div>
            <a href="#"><h4>Markary Jondon</h4></a>
            <p>Software Engineer</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="single_candidates text-center">
            <div class="thumb">
              <img src="{% static 'img/candiated7.png' %}" alt="">
            </div>
            <a href="#"><h4>Markary Jondon</h4></a>
            <p>Software Engineer</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="single_candidates text-center">
            <div class="thumb">
              <img src="{% static 'img/candiated8.png' %}" alt="">
            </div>
            <a href="#"><h4>Markary Jondon</h4></a>
            <p>Software Engineer</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="single_candidates text-center">
            <div class="thumb">
              <img src="{% static 'img/candiated9.png' %}" alt="">
            </div>
            <a href="#"><h4>Markary Jondon</h4></a>
            <p>Software Engineer</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="single_candidates text-center">
            <div class="thumb">
              <img src="{% static 'img/candiated10.pn' %}g" alt="">
            </div>
            <a href="#"><h4>Markary Jondon</h4></a>
            <p>Software Engineer</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="single_candidates text-center">
            <div class="thumb">
              <img src="{% static 'img/candiated3.png' %}" alt="">
            </div>
            <a href="#"><h4>Markary Jondon</h4></a>
            <p>Software Engineer</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="single_candidates text-center">
            <div class="thumb">
              <img src="{% static 'img/candiated4.png' %}" alt="">
            </div>
            <a href="#"><h4>Markary Jondon</h4></a>
            <p>Software Engineer</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="pagination_wrap">
            <ul>
              <li><a href="#"> <i class="ti-angle-left"></i> </a></li>
{#              <li><a href="#"><span>01</span></a></li>#}
{#              <li><a href="#"><span>02</span></a></li>#}
              <li><a href="#"> <i class="ti-angle-right"></i> </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- featured_candidates_area_end  -->

{% endblock content %}

