{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="d-flex flex-column my-5 py-5 ">
        {% if feedback_form %}
            <fieldset disabled>
                <legend>Контактные данные</legend>
                <div class="mb-3">
                    <p class="text-muted">Пожалуйста, подробно опишите Ваше предолжение в сообщении. Мы обязательно его рассмотрим!</p>
                    <small class="text-muted">В случае возникновения ошибки на сайте - детально опишите при каких событиях и по какому адресу произошла ошибка.
                        <br>
                        <small class="text-success">Хорошее сообщение: "В моем профиле (%username) не отображаются резюме. URL: https://%vebsitename%.%domain%/applicant_cabinet/1/"</small>
                        <br>
                        <small>Так себе сообщение: "А чойто у вас ничо не работает чините давайте!!!!1111разраз"</small>
                    </small>

                </div>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">От кого:</label>
                    <input type="text" id="disabledTextInput" class="form-control"
                           placeholder="{{ request.user.email }}">
                </div>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Кому:</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{{ admin_mail }}">
                </div>
            </fieldset>
            <form method="post">
                {% csrf_token %}
                {{ feedback_form|crispy }}
                <button class="btn boxed-btn3 my-2" type="submit">Отправить</button>
            </form>
        {% else %}
            <span class="text-muted">Залогиньтесь или пройдите регистрацию, чтобы воспользоваться формой обратной связи</span>
        {% endif %}
    </div>
{% endblock content %}