<!DOCTYPE html>
<html lang="en">

  {% load static %}

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--<link rel="stylesheet" href="{% static 'css/partners.css' %}">-->
    {% block stylesheet %}
    {% endblock stylesheet %}
    <title>
      {% block title %}
        Welcome to JobBoard!
      {% endblock title %}
    </title>

  </head>
  <body>
    <!-- header-start -->

    <style>
      .bradcam_bg_1 {
        background-image: url("{% static 'img/banner.png' %}");

      }

    </style>

    <header>
      <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
          <div class="container-fluid ">
            <div class="header_bottom_border">
              <div class="row align-items-center">
                <div class="col-xl-3 col-lg-2">
                  <div class="logo">
                    <a href="{% url 'hhapp:main_page' %}">
                      <img src="{% static 'img/logoJob.png' %}" alt="">
                    </a>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                  <div class="main-menu  d-none d-lg-block">
                    <nav>
                      <ul id="navigation">

                        <li><a href="{% url 'hhapp:jobs' %}">Соискатель</a></li>
                        <li><a href="{% url 'hhapp:candidate' %}">Работодатель</a></li>
                        <li><a href="{% url 'employerapp:employer_list' %}">список работодателей</a></li>
                        <li><a href="{% url 'employerapp:vacancy_list' %}">список вакансий</a></li>
                        <li><a href="#">Помощь</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                  <div class="Appointment">
                    <div class="phone_num d-none d-xl-block">
                      <a href="{% url 'authapp:register' %}">Зарегистрироваться</a>
                    </div>
                    <div class="d-none d-lg-block">
                      <a class="boxed-btn3" href="{% url 'authapp:login' %}">Войти</a>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="mobile_menu d-block d-lg-none"></div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </header>
    <!-- header-end -->

    {% block messages %}
      {% include 'includes/messages.html' %}
    {% endblock messages %}

    <div class="container-md">

      {% block content %}

      {% endblock content %}

      <!-- footer start -->
      <footer class="footer">
        <div class="footer_top">
          <div class="container">
            <div class="row">
              <div class="col-xl-3 col-md-6 col-lg-3">
                <div class="footer_widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                  <div class="footer_logo">
                    <a href="#">
                      <img src="{% static 'img/logoJob.png' %}" alt="">
                    </a>
                  </div>
                  <p>
                    finloan@support.com <br>
                    +10 873 672 6782 <br>
                    600/D, Green road, NewYork
                  </p>
                  <div class="socail_links">
                    <ul>
                      <li>
                        <a href="#">
                          <i class="ti-facebook"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-google-plus"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-instagram"></i>
                        </a>
                      </li>
                    </ul>
                  </div>

                </div>
              </div>
              <div class="col-xl-2 col-md-6 col-lg-2">
                <div class="footer_widget wow fadeInUp" data-wow-duration="1.1s" data-wow-delay=".4s">
                  <h3 class="footer_title">
                    Company
                  </h3>
                  <ul>
                    <li><a href="#">About </a></li>
                    <li><a href="#"> Pricing</a></li>
                    <li><a href="#">Carrier Tips</a></li>
                    <li><a href="#">FAQ</a></li>
                  </ul>

                </div>
              </div>
              <div class="col-xl-3 col-md-6 col-lg-3">
                <div class="footer_widget wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">
                  <h3 class="footer_title">
                    Category
                  </h3>
                  <ul>
                    <li><a href="#">Design & Art</a></li>
                    <li><a href="#">Engineering</a></li>
                    <li><a href="#">Sales & Marketing</a></li>
                    <li><a href="#">Finance</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="footer_widget wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".6s">
                  <h3 class="footer_title">
                    Subscribe
                  </h3>
                  <form action="#" class="newsletter_form">
                    <input type="text" placeholder="Enter your mail">
                    <button type="submit">Subscribe</button>
                  </form>
                  <p class="newsletter_text">Esteem spirit temper too say adieus who direct esteem esteems
                    luckily.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copy-right_text wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".3s">
          <div class="container">
            <div class="footer_border"></div>
            <div class="row">
              <div class="col-xl-12">
                <p class="copy_right text-center">
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                  All rights reserved | This template is made with <i class="fa fa-heart-o"
                    aria-hidden="true"></i> by <a
                      href="https://colorlib.com" target="_blank">Colorlib</a>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!--/ footer end  -->

    </div>
  </body>
</html>