<div class="d-flex flex-column mx-3 my-0 py-0">
    <div class="d-flex justify-content-between align-content-end">
        <div class="d-flex flex-column">
            <span><strong>{% if message.user.is_staff %}Техническая поддержка{% else %}{{ message.user.username }}{% endif %}</strong></span>
            {% if not message.user.is_staff %}<small><span class="blockquote-footer">{{ message.user.email }}</span></small>{% else %}<small><span class="blockquote-footer">delete after fix</span></small>{% endif %}
        </div>
        <span class="text-muted"><small>{{ message.created }}</small></span>
    </div>
    <div class="d-flex justify-content-between align-content-end">
        <span><strong></strong></span>
    </div>
    <div class="pt-2"> {{ message.message }}</div>
    <hr style="width: 100%">
</div>